extends layout

block content
 .main-template-about
  .section-gradient
    .map
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .wow.fadeIn(data-wow-delay='0.0s')
            h1
              | Dễ dàng mua hàng.
              | Đảm bảo chất lượng, xuất xứ
            p.lead
              | Đến với chúng tôi bạn sẽ được nhận các sản phẩm từ chính nhà sản xuất với chất lượng tốt nhất. Cam kết bán đúng giá của sản phẩm. Các sản phẩm phát hiện sự cố có thể đổi trã hoàn toàn miễn phí.
              br
              br
              | Đăng kí và nhận các khuyến mãi!!
          .about-icons.row
            .col-xs-4.wow.fadeIn(data-wow-delay='0.0s')
              img(src='images/about-icon-1.png' alt='')
            .col-xs-4.wow.fadeIn(data-wow-delay='0.2s')
              img(src='images/about-icon-2.png' alt='')
            .col-xs-4.wow.fadeIn(data-wow-delay='0.4s')
              img(src='images/about-icon-3.png' alt='')
  .section.do
    .blue-light
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .does-box
            .panel-body
              h2 Bạn có thể
              p
                | Mua hàng được phân phối từ trực tiếp nhà sản xuất nên sẽ nhận được các mức giá ưu đãi và được đảm bảo hàng chính hãng.
              p
                | Tiếp cận với các sản phẩm mới với tốc độ nhanh nhất. 
              p
                | Khi mua hàng bạn sẽ được tích lũy điểm đổi những phần quà hấp dẫn và có cơ hội tham gia chương trình rút thăm mai mắn hàng tháng, quý, năm với giá trị giải thưởng lên đến hàng tỉ đồng.
              p
                | Bạn sẽ được cung cấp các dịch vụ thanh toán trực tuyến qua các hình thức thông dụng, các đơn hàng từ 1000.000đ sẽ được miễn phí giao trên toàn quốc với thời gia không quá 2 ngày.
            img.wow.fadeIn(src='images/mac-about.png' alt='')
  .seciton.create
    .container
      .row
        .col-lg-8.col-lg-offset-2
          h2 Tại sao nên tạo tài khoản
          p
            | Bạn sẽ được tích điểm khi thanh toán, và các chương trình khuyến mãi. Và nhiều ưu đãi hấp dẫn khác
          p
            | Được đặt hàng trước, thuận tiện theo dõi đơn hàng
  .section.account-box
    .blue-dark
    .light-blue-grad
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .blue-form
            h2 Đăng kí ngay hôm nay
            form.form-inline
              input(type='email' placeholder='Nhập email của bạn')
              button.btn.btn-primary(type='submit') Xác nhận
            .blue-form_question
              strong Thắc mắc?
              |  liên hệ ngay 090 000 0000
  .section-white
    .container
      .row
        .col-lg-8.col-lg-offset-2.wow.fadeIn(style='margin-bottom:15px;' data-wow-delay='0.2s')
          img.img-responsive(src='images/lag-60.png' alt='')
        .col-lg-8.col-lg-offset-2.wow.fadeIn(style='margin-bottom:15px;' data-wow-delay='0.2s')
          img(src='images/lag-61.png' alt='')
        .col-lg-8.col-lg-offset-2
          .row
            .col-sm-6.wow.fadeIn(data-wow-delay='0.2s')
              .rectange
                h3.rectange_title Hợp tác
                p.rectange_text
                  | Chúng tôi đang tìm kiếm các nhà cung cấp mới
                a.rectange_link(href='') Xem thêm
            .col-sm-6.wow.fadeIn(data-wow-delay='0.4s')
              .rectange
                h3.rectange_title Liên hệ chúng tôi
                p.rectange_text
                  | Chúng tôi sẽ giải đáp các thắc mắc của bạn
                a.rectange_link(href='') Liên hệ
