doctype html
head
  // Required meta tags
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='au theme template')
  meta(name='author' content='Hau Nguyen')
  meta(name='keywords' content='au theme template')
  // Title Page
  title Dashboard
  // Fontfaces CSS
  link(href='css/font-face.css' rel='stylesheet' media='all')
  link(href='vendor/font-awesome-4.7/css/font-awesome.min.css' rel='stylesheet' media='all')
  link(href='vendor/font-awesome-5/css/fontawesome-all.min.css' rel='stylesheet' media='all')
  link(href='vendor/mdi-font/css/material-design-iconic-font.min.css' rel='stylesheet' media='all')
  // Bootstrap CSS
  link(href='vendor/bootstrap-4.1/bootstrap.min.css' rel='stylesheet' media='all')
  // Vendor CSS
  link(href='vendor/animsition/animsition.min.css' rel='stylesheet' media='all')
  link(href='vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' rel='stylesheet' media='all')
  link(href='vendor/wow/animate.css' rel='stylesheet' media='all')
  link(href='vendor/css-hamburgers/hamburgers.min.css' rel='stylesheet' media='all')
  link(href='vendor/slick/slick.css' rel='stylesheet' media='all')
  link(href='vendor/select2/select2.min.css' rel='stylesheet' media='all')
  link(href='vendor/perfect-scrollbar/perfect-scrollbar.css' rel='stylesheet' media='all')
  // Main CSS
  link(href='css/theme.css' rel='stylesheet' media='all')
.page-wrapper
  // HEADER MOBILE
  header.header-mobile.d-block.d-lg-none
    .header-mobile__bar
      .container-fluid
        .header-mobile-inner
          a.logo(href='/#')
            img(src='images/icon/logo.png' alt='CoolAdmin')
          button.hamburger.hamburger--slider(type='button')
            span.hamburger-box
              span.hamburger-inner
    nav.navbar-mobile
      .container-fluid
        ul.navbar-mobile__list.list-unstyled
          li.has-sub
            a.js-arrow(href='/#')
              i.fas.fa-tachometer-alt
              | Tổng thể
          li
            a(href='/adchart')
              i.fas.fa-chart-bar
              | Đồ thị
          li
            a(href='/adtable')
              i.fas.fa-table
              | Bảng
          li.has-sub
            a.js-arrow(href='#')
              i.fas.fa-copy
              | Trang web
            ul.navbar-mobile-sub__list.list-unstyled.js-sub-list
              li
                a(href='/adlogin.html') Đăng nhập
              li
                a(href='/adforget-pass.html') Quên mật khẩu
  // END HEADER MOBILE
  // MENU SIDEBAR
  aside.menu-sidebar.d-none.d-lg-block
    .logo
      a(href='/#')
        img(src='images/icon/logo.png' alt='Cool Admin')
    .menu-sidebar__content.js-scrollbar1
      nav.navbar-sidebar
        ul.list-unstyled.navbar__list
          li.active.has-sub
            a.js-arrow(href='/#')
              i.fas.fa-tachometer-alt
              | Tổng thể
          li
            a(href='/adchart')
              i.fas.fa-chart-bar
              | Đồ thị
          li
            a(href='/adtable')
              i.fas.fa-table
              | Bảng
          li.has-sub
            a.js-arrow(href='#')
              i.fas.fa-copy
              | Trang web
            ul.list-unstyled.navbar__sub-list.js-sub-list
              li
                a(href='adlogin.html') Đăng nhập
              li
                a(href='adforget-pass.html') Quên mật khẩu
  // PAGE CONTAINER
  .page-container
    // HEADER DESKTOP
    header.header-desktop
      .section__content.section__content--p30
        .container-fluid
          .header-wrap
            form.form-header(action='' method='POST')
              input.au-input.au-input--xl(type='text' name='search' placeholder='Tìm kiếm')
              button.au-btn--submit(type='submit')
                i.zmdi.zmdi-search
            .header-button
              .noti-wrap
                .noti__item.js-item-menu
                  i.zmdi.zmdi-comment-more
                  span.quantity 2
                  .mess-dropdown.js-dropdown
                    .mess__title
                      p Bạn có 2 tin nhắn
                    .mess__item
                      .image.img-cir.img-40
                        img(src='images/icon/avatar-06.jpg' alt='Michelle Moreno')
                      .content
                        h6 Michelle Moreno
                        p Gửi 1 tấm ảnh
                        span.time 3 giờ trước
                    .mess__item
                      .image.img-cir.img-40
                        img(src='images/icon/avatar-04.jpg' alt='Diane Myers')
                      .content
                        h6 Diane Myers
                        p Tin nhắn mới
                        span.time Hôm qua
                    .mess__footer
                      a(href='#') Xem tất cả tin nhắn
                .noti__item.js-item-menu
                  i.zmdi.zmdi-email
                  span.quantity 3
                  .email-dropdown.js-dropdown
                    .email__title
                      p Bạn nhận 3 email
                    .email__item
                      .image.img-cir.img-40
                        img(src='images/icon/avatar-06.jpg' alt='Cynthia Harvey')
                      .content
                        p Gặp để bàn về...
                        span Cynthia Harvey, 30 phút trước
                    .email__item
                      .image.img-cir.img-40
                        img(src='images/icon/avatar-05.jpg' alt='Cynthia Harvey')
                      .content
                        p Bản kế hoạch...
                        span Cynthia Harvey, Hôm qua
                    .email__item
                      .image.img-cir.img-40
                        img(src='images/icon/avatar-04.jpg' alt='Cynthia Harvey')
                      .content
                        p Các sản phẩm...
                        span Cynthia Harvey, 4/11/2019
                    .email__footer
                      a(href='#') Xem tất cả email
                .noti__item.js-item-menu
                  i.zmdi.zmdi-notifications
                  span.quantity 3
                  .notifi-dropdown.js-dropdown
                    .notifi__title
                      p Bạn có 3 thông báo
                    .notifi__item
                      .bg-c1.img-cir.img-40
                        i.zmdi.zmdi-email-open
                      .content
                        p Email bạn nhận đc 1 thông báo
                        span.date 22/10/2019 06:50
                    .notifi__item
                      .bg-c2.img-cir.img-40
                        i.zmdi.zmdi-account-box
                      .content
                        p Cập nhật thông tin tài khoản
                        span.date 2/11/2019 16:50
                    .notifi__item
                      .bg-c3.img-cir.img-40
                        i.zmdi.zmdi-file-text
                      .content
                        p Bạn nhận được file mới
                        span.date 22/10/2019 23:50
                    .notifi__footer
                      a(href='#') Tất cả thông báo
              .account-wrap
                .account-item.clearfix.js-item-menu
                  .image
                    img(src='images/icon/avatar-01.jpg' alt='John Doe')
                  .content
                    a.js-acc-btn(href='#') john doe
                  .account-dropdown.js-dropdown
                    .info.clearfix
                      .image
                        a(href='#')
                          img(src='images/icon/avatar-01.jpg' alt='John Doe')
                      .content
                        h5.name
                          a(href='#') john doe
                        span.email johndoe@example.com
                    .account-dropdown__body
                      .account-dropdown__item
                        a(href='#')
                          i.zmdi.zmdi-account
                          | Tài khoản
                      .account-dropdown__item
                        a(href='#')
                          i.zmdi.zmdi-settings
                          | Cài đặt
                      .account-dropdown__item
                        a(href='#')
                          i.zmdi.zmdi-money-box
                          | Danh số
                    .account-dropdown__footer
                      a(href='#')
                        i.zmdi.zmdi-power
                        | Đăng xuất
    // HEADER DESKTOP
    // MAIN CONTENT
    block content
    // END MAIN CONTENT
// Jquery JS
script(src='vendor/jquery-3.2.1.min.js')
// Bootstrap JS
script(src='vendor/bootstrap-4.1/popper.min.js')
script(src='vendor/bootstrap-4.1/bootstrap.min.js')
// Vendor JS
script(src='vendor/slick/slick.min.js')
script(src='vendor/wow/wow.min.js')
script(src='vendor/animsition/animsition.min.js')
script(src='vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')
script(src='vendor/counter-up/jquery.waypoints.min.js')
script(src='vendor/counter-up/jquery.counterup.min.js')
script(src='vendor/circle-progress/circle-progress.min.js')
script(src='vendor/perfect-scrollbar/perfect-scrollbar.js')
script(src='vendor/chartjs/Chart.bundle.min.js')
script(src='vendor/select2/select2.min.js')
// Main JS
script(src='js/main.js')
