extends layout

block content
 .page-content-product
  .main-product
    .container
      .row.clearfix
        .find-box
          h1
            | Tìm kiếm sản phẩm
          .product-sh
            .col-sm-6
              .form-sh
                input(type='text' placeholder='Giường cao cấp')
            .col-sm-3
              .form-sh
                select.selectpicker
                  option Giường
                  option Bàn
                  option Ghế
            .col-sm-3
              .form-sh
                a.btn(href='/find') Tìm kiếm
      .row.clearfix
        .col-lg-3.col-sm-6.col-md-3
          a(href='/product')
            .box-img
              h4 Giường 1
              img(src='images/product/5.png' alt='')
        .categories_link
          a(href='#') Xem thêm
 .start-free-box
  .container
    .row
      .main-start-box
        .bg_img_left
          img(src='images/bg_img1.png' alt='#')
        .container
          .buyer-box.clearfix
            .col-md-6.col-sm-6.wow.fadeIn(data-wow-delay='0.2s')
              .left-buyer
                img.img-responsive(src='images/creat_pro.png' alt='#')
            .col-md-6.col-sm-6.wow.fadeIn(data-wow-delay='0.4s')
              .right-buyer
                h2
                  | Mua hàng hóa bạn yêu thích
                  br
                  span chỉ với các thao tác đơn giản
                a(href='#') Tạo tài khoản mua hàng
 .products
  .main-products
    h2 Sản phẩm bán chạy trong tháng
    .product-slidr
      .slider
        div
          .prod-box
            .prod-i
              img(src='images/tr1.png' alt='#')
            .prod-dit.clearfix
              .dit-t.clearfix
                .left-ti
                  h4 Bộ bàn gỗ
                  p
                    | Bởi 
                    span CTy nội thất BB
                a(href='#') 1.220.000đ
              .dit-btn.clearfix
                a.wis(href='#')
                  i.fa.fa-star(aria-hidden='true')
                  |  Thêm vào giỏ
                a.thi(href='#')
                  i.fa.fa-thumbs-up(aria-hidden='true')
                  |  Thích
        div
          .prod-box
            .prod-i
              img(src='images/tr2.png' alt='#')
            .prod-dit.clearfix
              .dit-t.clearfix
                .left-ti
                  h4 Ghế sopha dài
                  p
                    | Bởi 
                    span CTy nội thất BB
                a(href='#') 122.000đ
              .dit-btn.clearfix
                a.wis(href='#')
                  i.fa.fa-star(aria-hidden='true')
                  |  Thêm vào giỏ
                a.thi(href='#')
                  i.fa.fa-thumbs-up(aria-hidden='true')
                  |  Thích
        div
          .prod-box
            .prod-i
              img(src='images/tr3.png' alt='#')
            .prod-dit.clearfix
              .dit-t.clearfix
                .left-ti
                  h4 Ghế đơn
                  p
                    | Bởi
                    span CTy nội thất BB
                a(href='#') 221.000đ
              .dit-btn.clearfix
                a.wis(href='#')
                  i.fa.fa-star(aria-hidden='true')
                  |  Thêm vào giỏ
                a.thi(href='#')
                  i.fa.fa-thumbs-up(aria-hidden='true')
                  |  Thích
        div
          .prod-box
            .prod-i
              img(src='images/tr4.png' alt='#')
            .prod-dit.clearfix
              .dit-t.clearfix
                .left-ti
                  h4 Ghế liền
                  p
                    | Bởi 
                    span CTy nội thất BB
                a(href='#') 541.000đ
              .dit-btn.clearfix
                a.wis(href='#')
                  i.fa.fa-star(aria-hidden='true')
                  |  Thêm vào giỏ
                a.thi(href='#')
                  i.fa.fa-thumbs-up(aria-hidden='true')
                  |  Thích
        div
          .prod-box
            .prod-i
              img(src='images/tr1.png' alt='#')
            .prod-dit.clearfix
              .dit-t.clearfix
                .left-ti
                  h4 Bộ bàn gỗ
                  p
                    | Bởi 
                    span CTy nội thất BB
                a(href='#') 1.220.000đ
              .dit-btn.clearfix
                a.wis(href='#')
                  i.fa.fa-star(aria-hidden='true')
                  |  Thêm vào giỏ
                a.thi(href='#')
                  i.fa.fa-thumbs-up(aria-hidden='true')
                  |  Thích
        div
          .prod-box
            .prod-i
              img(src='images/tr2.png' alt='#')
            .prod-dit.clearfix
              .dit-t.clearfix
                .left-ti
                  h4 Ghế sopha dài
                  p
                    | Bởi 
                    span CTy nội thất BB
                a(href='#') 122.000đ
              .dit-btn.clearfix
                a.wis(href='#')
                  i.fa.fa-star(aria-hidden='true')
                  |  Thêm vào giỏ
                a.thi(href='#')
                  i.fa.fa-thumbs-up(aria-hidden='true')
                  |  Thích
        div
          .prod-box
            .prod-i
              img(src='images/tr3.png' alt='#')
            .prod-dit.clearfix
              .dit-t.clearfix
                .left-ti
                  h4 Ghế đơn
                  p
                    | Bởi
                    span CTy nội thất BB
                a(href='#') 221.000đ
              .dit-btn.clearfix
                a.wis(href='#')
                  i.fa.fa-star(aria-hidden='true')
                  |  Thêm vào giỏ
                a.thi(href='#')
                  i.fa.fa-thumbs-up(aria-hidden='true')
                  |  Thích