extends layout

block content
 .section-how-it-works
  .container
    .row
      .col-md-5.col-sm-6.col-xs-12
        .left-works-box.wow.fadeIn(data-wow-delay='0.2s')
          h2
            | Làm thế nào nếu
            br
            span bạn là người mua.
          p
            | Mua ở chúng tôi có 3 bước đơn giản.
            | Hãy xem cách sử dụng
          .form-email-box
            h3 Đăng kí ngay
            form.box-email
              input(type='email' placeholder='Nhập email của bạn')
              button Xác nhận
      .col-md-7.col-sm-6.col-xs-12
        .right-works-box
          .small-box.wow.fadeIn(data-wow-delay='0.2s')
            .how-text-left 01
            .how-dit-right
              .dit-img
                img.img-responsive(src='images/works-icon-01.png' alt='')
              h3 Đăng kí, đăng nhập
              h2
                span Đơn giản
                br
                |  chỉ với email
              p
                | Bạn sử dụng email của mình để đăng kí, đăng nhập trước khi mua hàng 
              .line
          .searching-box.wow.fadeIn(data-wow-delay='0.4s')
            .how-text-left 02
            .how-dit-right
              .dit-img
                img.img-responsive(src='images/works-icon-02.png' alt='')
              h3 Tìm kiếm, chọn
              h2
                | Tìm sản phẩm,
                br
                span thêm vào giỏ
              p
                | Tìm các sản phẩm muốn mua sao đó thêm vào giỏ hàng.
              .line
          .sellers-box.wow.fadeIn(data-wow-delay='0.6s')
            .how-text-left 03
            .how-dit-right
              .dit-img
                img.img-responsive(src='images/works-icon-03.png' alt='')
              h3 Đặt hàng
              h2
                | Kiểm tra
                br
                | and 
                span Xác nhận
              p
                | kiểm tra danh sách đơn hàng, sau đó xác nhận đặt hàng và chờ đợi nhận hàng
