extends layout

block content
 .terms-conditions.product-page
  .terms-title
    .container
      .row
        ol.breadcrumb
          li
            a(href='/#') Trang chủ 
          li.active Sopha
          li
            a(href='#') Sopha trắng dài
 .product-page-main
  .container
    .row
      .col-md-12
        .prod-page-title
          h2 Nhà sản suất
          p
            | bởi
            span Dex
    .row
      .col-md-2.col-sm-4
        .left-profile-box-m.prod-page
          .pof-text
            h3 Dex
            .check-box
          a(href='#') Truy cập NXS
      .col-md-7.col-sm-8
        .md-prod-page
          .md-prod-page-in
            .page-preview
              .preview
                .preview-pic.tab-content
                  #pic-1.tab-pane.active
                    img(src='images/lag-60.png' alt='#')
                  #pic-2.tab-pane
                    img(src='images/lag-61.png' alt='#')
                  #pic-3.tab-pane
                    img(src='images/lag-60.png' alt='#')
                  #pic-4.tab-pane
                    img(src='images/lag-61.png' alt='#')
                ul.preview-thumbnail.nav.nav-tabs
                  li.active
                    a(data-target='#pic-1' data-toggle='tab')
                      img(src='images/lag-60.png' alt='#')
                  li
                    a(data-target='#pic-2' data-toggle='tab')
                      img(src='images/lag-61.png' alt='#')
                  li
                    a(data-target='#pic-3' data-toggle='tab')
                      img(src='images/lag-60.png' alt='#')
                  li
                    a(data-target='#pic-4' data-toggle='tab')
                      img(src='images/lag-61.png' alt='#')
            .btn-dit-list.clearfix
              .left-dit-p
                .prod-btn
                  a(href='#')
                    i.fa.fa-star(aria-hidden='true')
                    |  Thêm vào giỏ hàng
                  a(href='#')
                    i.fa.fa-thumbs-up(aria-hidden='true')
                    |  Thích
                  p 23 lượt thích
              .right-dit-p
                .like-list
                  ul
                    li
                      .im-b
                        img(src='images/list-img-01.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-02.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-03.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-04.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-05.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-06.png' alt='')
                    li
                      .im-b
                        i.fa.fa-ellipsis-h(aria-hidden='true')
          .description-box
            .dex-a
              h4 Mô tải
              p Rộng: 12 cm
              p Dài: 25 cm
            .spe-a
              h4 Thông số kĩ thuật
              ul
                li.clearfix
                  .col-md-4
                    h5 Kích thước
                  .col-md-8
                    p 12 cm X 25 cm
                li.clearfix
                  .col-md-4
                    h5 NXS
                  .col-md-8
                    p Dex
                li.clearfix
                  .col-md-4
                    h5 Chất liệu
                  .col-md-8
                    p Tơ tầm + Nilon
                li.clearfix
                  .col-md-4
                    h5 Mã Seri
                  .col-md-8
                    p HASM103493248
                li.clearfix
                  .col-md-4
                    h5 Bảo hành 
                  .col-md-8
                    p 1 năm
                li.clearfix
                  .col-md-4
                    h5 Xuất xứ
                  .col-md-8
                    p Việt Nam
        .similar-box
          h2 Các sản phẩm khác từ Dex
          .row.cat-pd
            .col-md-6
              .small-box-c
                .small-img-b
                  img.img-responsive(src='images/tr1.png' alt='#')
                .dit-t.clearfix
                  .left-ti
                    h4 Bàn SD
                    p
                      | Bởi 
                      span Dex
                  a(href='#' tabindex='0') 122.000đ
                .prod-btn
                  a(href='#')
                    i.fa.fa-star(aria-hidden='true')
                    |  Thêm vào giỏ hàng
                  a(href='#')
                    i.fa.fa-thumbs-up(aria-hidden='true')
                    |  Thích
                  p 213 lượt thích
            .col-md-6
              .small-box-c
                .small-img-b
                  img.img-responsive(src='images/tr4.png' alt='#')
                .dit-t.clearfix
                  .left-ti
                    h4 Ghế DFC
                    p
                      | Bởi
                      span Dex
                  a(href='#' tabindex='0') 220.000đ
                .prod-btn
                  a(href='#')
                    i.fa.fa-star(aria-hidden='true')
                    |  Thêm vào giỏ hàng
                  a(href='#')
                    i.fa.fa-thumbs-up(aria-hidden='true')
                    |  Thích
                  p 23 lượt thích