extends layout

block content
 .terms-conditions.product-page
  .terms-title
    .container
      .row
        ol.breadcrumb
          li
            a(href='#') Forntpage 
          li.active Furniture
          li.active Sofa
          li
            a(href='#') All setup Sofa
 .product-page-main
  .container
    .row
      .col-md-12
        .prod-page-title
          h2 All setup Sofa
          p
            | By 
            span Dex Morgan Mobilya
    .row
      .col-md-2.col-sm-4
        .left-profile-box-m.prod-page
          .pro-img
            img(src='images/150x150.png' alt='#')
          .pof-text
            h3 Morgan Mobilya
            .check-box
          a(href='#') Visit store
      .col-md-7.col-sm-8
        .md-prod-page
          .md-prod-page-in
            .page-preview
              .preview
                .preview-pic.tab-content
                  #pic-1.tab-pane.active
                    img(src='images/lag-60.png' alt='#')
                  #pic-2.tab-pane
                    img(src='images/lag-61.png' alt='#')
                  #pic-3.tab-pane
                    img(src='images/lag-60.png' alt='#')
                  #pic-4.tab-pane
                    img(src='images/lag-61.png' alt='#')
                ul.preview-thumbnail.nav.nav-tabs
                  li.active
                    a(data-target='#pic-1' data-toggle='tab')
                      img(src='images/lag-60.png' alt='#')
                  li
                    a(data-target='#pic-2' data-toggle='tab')
                      img(src='images/lag-61.png' alt='#')
                  li
                    a(data-target='#pic-3' data-toggle='tab')
                      img(src='images/lag-60.png' alt='#')
                  li
                    a(data-target='#pic-4' data-toggle='tab')
                      img(src='images/lag-61.png' alt='#')
            .btn-dit-list.clearfix
              .left-dit-p
                .prod-btn
                  a(href='#')
                    i.fa.fa-star(aria-hidden='true')
                    |  Save to wishlist
                  a(href='#')
                    i.fa.fa-thumbs-up(aria-hidden='true')
                    |  Like this
                  p 23 likes
              .right-dit-p
                .like-list
                  ul
                    li
                      .im-b
                        img(src='images/list-img-01.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-02.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-03.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-04.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-05.png' alt='')
                    li
                      .im-b
                        img(src='images/list-img-06.png' alt='')
                    li
                      .im-b
                        i.fa.fa-ellipsis-h(aria-hidden='true')
          .description-box
            .dex-a
              h4 Description
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                | lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s,
                | when an unknown printer took a galley of type and scrambled it to make a
                | type specimen book..
              br
              p Small: H 25 cm / &Oslash; 12 cm
              p Large H 24 cm / &Oslash; 25 cm
            .spe-a
              h4 Specifications
              ul
                li.clearfix
                  .col-md-4
                    h5 Measurments
                  .col-md-8
                    p H25 cm / 0 12 cm and H 24 cm / 0 25 cm
                li.clearfix
                  .col-md-4
                    h5 Material
                  .col-md-8
                    p Material Name
                li.clearfix
                  .col-md-4
                    h5 Wire
                  .col-md-8
                    p Wire Name
                li.clearfix
                  .col-md-4
                    h5 Comdition
                  .col-md-8
                    p Brand new
                li.clearfix
                  .col-md-4
                    h5 SKU number
                  .col-md-8
                    p SKU number
                li.clearfix
                  .col-md-4
                    h5 Shipping
                  .col-md-8
                    p Shipping worldwide
                li.clearfix
                  .col-md-4
                    h5 Warranty
                  .col-md-8
                    p 1 years
                li.clearfix
                  .col-md-4
                    h5 Delivery
                  .col-md-8
                    p Choose country
        .similar-box
          h2 Similiar products from Morgan Mobilya
          .row.cat-pd
            .col-md-6
              .small-box-c
                .small-img-b
                  img.img-responsive(src='images/tr1.png' alt='#')
                .dit-t.clearfix
                  .left-ti
                    h4 Product
                    p
                      | By 
                      span Beko
                      |  under 
                      span Lights
                  a(href='#' tabindex='0') $1220
                .prod-btn
                  a(href='#')
                    i.fa.fa-star(aria-hidden='true')
                    |  Save to wishlist
                  a(href='#')
                    i.fa.fa-thumbs-up(aria-hidden='true')
                    |  Like this
                  p 23 likes
            .col-md-6
              .small-box-c
                .small-img-b
                  img.img-responsive(src='images/tr2.png' alt='#')
                .dit-t.clearfix
                  .left-ti
                    h4 Product
                    p
                      | By 
                      span Beko
                      |  under 
                      span Chairs
                  a(href='#' tabindex='0') $1220
                .prod-btn
                  a(href='#')
                    i.fa.fa-star(aria-hidden='true')
                    |  Save to wishlist
                  a(href='#')
                    i.fa.fa-thumbs-up(aria-hidden='true')
                    |  Like this
                  p 23 likes
          .row.cat-pd
            .col-md-6
              .small-box-c
                .small-img-b
                  img.img-responsive(src='images/tr3.png' alt='#')
                .dit-t.clearfix
                  .left-ti
                    h4 Product
                    p
                      | By 
                      span Beko
                      |  under 
                      span Lights
                  a(href='#' tabindex='0') $1220
                .prod-btn
                  a(href='#')
                    i.fa.fa-star(aria-hidden='true')
                    |  Save to wishlist
                  a(href='#')
                    i.fa.fa-thumbs-up(aria-hidden='true')
                    |  Like this
                  p 23 likes
            .col-md-6
              .small-box-c
                .small-img-b
                  img.img-responsive(src='images/tr4.png' alt='#')
                .dit-t.clearfix
                  .left-ti
                    h4 Product
                    p
                      | By 
                      span Beko
                      |  under 
                      span Chairs
                  a(href='#' tabindex='0') $1220
                .prod-btn
                  a(href='#')
                    i.fa.fa-star(aria-hidden='true')
                    |  Save to wishlist
                  a(href='#')
                    i.fa.fa-thumbs-up(aria-hidden='true')
                    |  Like this
                  p 23 likes
      .col-md-3.col-sm-12
        .price-box-right
          h4 Price
          h3
            | $1.320 
            span pr.peice
          p Option
          select.form-control.select2
            option Flying Carpet Green rug
            option(value='AK') Alaska
            option(value='HI') Hawaii
            option(value='CA') California
            option(value='NV') Nevada
            option(value='OR') Oregon
            option(value='WA') Washington
            option(value='AZ') Arizona
            option(value='CO') Colorado
            option(value='ID') Idaho
            option(value='MT') Montana
            option(value='NE') Nebraska
            option(value='NM') New Mexico
            option(value='ND') North Dakota
            option(value='UT') Utah
            option(value='WY') Wyoming
            option(value='AL') Alabama
            option(value='AR') Arkansas
            option(value='IL') Illinois
            option(value='IA') Iowa
            option(value='KS') Kansas
            option(value='KY') Kentucky
          a(href='#') Contact company
          h5
            i.fa.fa-clock-o(aria-hidden='true')
            strong 16 hours
            |  avg. responsive time
